.heroImg {
    height: 100%;
    width: auto;
}

section {
    width: 100%;
    height: 20%;
}

.textContent {
    background-color: #FFD481;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

body{
    background-color: #B2BAAB;
}

.navbar{
    background-color: #FFD481;
}

.nav-link {
    color: black;
}
